.divStyle {
  font-size: 10px;
  margin-top: 20px;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  padding: 10px;
  z-index: 10;
  text-align: center;
  color: black;
  overflow: none;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.arrowStyle {
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  left: 40%;
  transform: translateX(0%) translateY(-50%) rotate(180deg);
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
